rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Schools collection - read and write
    match /schools/{schoolId} {
      allow read, write: if true;
    }

    // Users collection - profile read and write
    match /users/{userId} {
      allow read, write: if true;
    }

    // School Data - all authorized school operations can read and persist
    match /schoolData/{docId} {
      allow read, write: if true;
    }
  }
}

